#closeChat {
    width: 100px;
    text-align: center;
    font-family: "Cute Font", sans-serif;
    font-weight: 500;
    font-size: 18px;
    position: fixed;
    background-color: #fff0f0ae;
    padding: 5px 2px;
    bottom: 10px;
    right: 30px;
    z-index: 1000;
    color: rgb(0, 0, 0);
    cursor:pointer;
}

#chat-bar-text {
    font-family: "Cute Font", sans-serif;
    font-weight: 400;
    visibility: hidden;
    z-index: 999;
    display: inline-flex;
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 500px;
    height: 40px;
    background: rgba(255, 255, 255, 0.589);
    border: 3px solid #cccc;
    border-radius: 15px;
    padding-left: 3px;
  }
  
  #chat-bar-text * {
    margin-top: 2px;
    height: 80%;
  }
  
  #chat-bar-entrada, #chat-bar-user {
    width: 74%;
    margin-right: 2%;
    border: 2px solid #cccd;
    border-radius: 10px;
    height:90%;
  }

  #chat-bar-user {
    width: 30%;
  }
  
  #chat-bar-button {
    font-family: "Cute Font", sans-serif;
    font-weight: 400;
    padding: 0 10px;
    border-radius: 10px;
    border: 2px solid #cccd;
    height:91%;
  }
  
  #chat-message-box {
    visibility: hidden;
    z-index: 999;
    overflow: auto;
    overflow-x: hidden;
    width: 500px;
    height: 400px;
    background: rgba(255, 255, 255, 0.582);
    border: 4px solid #ffffffa6;
    border-radius: 10px;
    position: fixed;
    bottom: 70px;
    right: 20px;
  }
  
  .mensaje-box, .mensaje-user, .mensaje-content {
    width:100%;
  }
  
  .mensaje-content textarea {
    overflow: none;
  }
  
  .mensaje-user {
    font-family: "Cute Font", sans-serif;
    font-weight: 700;
    margin:0;
    margin-left: 5px;
    margin-top:8px;
    font-size: 14px;
  }
  .mensaje-content {
    font-family: "Cute Font", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 5px;
    margin-top: 2px;
    width: 90%;
    background: rgba(224, 224, 224, 0.301);
    border: 2px solid #7777777c;
    border-radius: 0 0 15px 0;
    padding: 2px 0 2px 5px;
    resize: none;
  }
  
  .mensaje-box {
    margin-bottom: 10px;
  }

  #de {
    display: contents !important;
  }

  textarea {
    
    background-color: aqua;
  }