.footer_header {
    font-size: 57px;
    color: white;
    font-family: Rubik Mono One;
    flex-basis: 100%;
}
  
footer {
    overflow: auto;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 2em;
    gap: 10px;
    display: flex;
    bottom: 0;
    position: relative;
    width: 100%;
    background: rgb(90,0,119);
    background: linear-gradient(173deg, rgba(90,0,119,1) 0%, rgba(132,0,173,1) 11%, rgba(135,0,177,1) 12%, rgba(101,0,134,1) 45%, rgba(101,0,134,1) 71%, rgba(130,0,171,1) 87%, rgba(135,0,177,1) 100%);
} 
.footer_der {
    margin: 0;
    display: flex;
    width: 50%;
    flex-direction: row;
    gap: 10px;
    flex: 1;
}
  
.footer_izq {
    flex-basis: 100%;
    margin: 0;
    display: flex;
    gap: 10px;
    width: 50%;
    flex-direction: column;
    flex: 1;
}
  
.footer_izq textarea, .footer_der textarea {
    font-size: 20px;
    font-family: Azeret Mono;
    box-sizing: border-box;
    color: whitesmoke;
    outline: none;
    resize: none;
    border: none;
    padding: 1em;
    border-radius: 10px;
    background-color: var(--purple6);
}

footer * textarea::placeholder {
    color: #ccc;
    font-size: 20px;
}
  
.footer_msg {
    flex-basis: 100%;
}
  
.footer_abajo {
    justify-content:center;
    min-width: 0;
    overflow-x: scroll;
    padding: 1em;
    gap: 2em;
    color: grey;
    width: 100%;
    flex-basis: 100%;
    display: flex;
    overflow:auto;
}
  
#submitbtn {
    font-size: 22px;
    padding: 10px 20px;
    height: 50px;
    border-radius: 20px;
    border: none;
    font-family: Rubik Mono One;
    transition: 0.5s;
}

#submitbtn:hover {
    cursor: pointer;
}

#contenedor_anim_footer{
    filter: blur(1px);
    position: relative;
    top: 50px;
    height: 200px;
}

.circulo {
    position: relative;
    top: 100px;
    height: 100px;
    width: 100px;
    background: rgb(131 0 174);
    border-radius: 50%;
    filter: blur(10px);
    display: inline-block; 
    margin: -35px;
}

.circulo_1 {
    animation: transladar 2.5s infinite;
}

.circulo_2 {
    animation: transladar 2s infinite;

}

.circulo_3 {
    animation: transladar 3s infinite;
}

.circulo_4 {
    animation: transladar 1.5s infinite;
}

.circulo_5 {
    animation: transladar 1.2s infinite;
}

.circulo_6 {
    animation: transladar 3s infinite;
}

.circulo_7 {
    animation: transladar 3.5s infinite;
}

.circulo_8 {
    animation: transladar 5s infinite;
}

.circulo_9 {
    animation: transladar 3.2s infinite;
}

.circulo_10 {
    animation: transladar 1s infinite;
}

.circulo_11{
    animation: transladar 2.5s infinite;
}

.circulo_12 {
    animation: transladar 5s infinite;
}

.circulo_13 {
    animation: transladar 3.6s infinite;
}

.circulo_14 {
    animation: transladar 7s infinite;

}

.circulo_15 {
    animation: transladar 4.2s infinite;

}

.circulo_16 {
    animation: transladar 3s infinite;

}

.circulo_17 {
    animation: transladar 2.5s infinite;

}

.circulo_18 {
    animation: transladar 6.5s infinite;

}

.circulo_19 {
    animation: transladar 3.8s infinite;

}

.circulo_20 {
    animation: transladar 1.4s infinite;

}

.circulo_21{
    animation: transladar 3.9s infinite;

}

.circulo_22 {
    animation: transladar 6.2s infinite;

}

.circulo_23 {
    animation: transladar 2.2s infinite;

}

.circulo_24 {
    animation: transladar 3.2s infinite;

}

.circulo_25 {
    animation: transladar 7.6s infinite;

}

.circulo_26 {
    animation: transladar 3.9s infinite;

}

.circulo_27 {
    animation: transladar 1.2s infinite;

}

.circulo_28 {
    animation: transladar 3s infinite;

}

.circulo_29 {
    animation: transladar 3.9s infinite;

}

.circulo_30 {
    animation: transladar 1.9s infinite;

}

@keyframes transladar {
	0% {
        top: 250px;
        opacity: 1;
	}
    50% {
        opacity: 0.5;
    }
	100% {
        opacity: 0;
        top:150px;
	}
}
