#Hoja_de_vida {
    margin: auto;
}

.center {
    margin: auto;
    width: 800px;
    padding: 10px;
  }

  .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .flex-item {
    background: rgb(71,108,255);
    background: linear-gradient(301deg, rgba(71, 108, 255, 0.215) 0%, rgba(0, 21, 255, 0.182) 19%, rgba(54, 183, 252, 0.231) 44%, rgba(56, 66, 255, 0.289) 68%, rgba(25, 52, 255, 0.182) 100%);
    border: 2px solid rgba(4, 0, 255, 0.46);
    padding: 5px;
    padding-left: 20px;
    width: 30%;
    min-width: 400px;
    height: 800px;
    overflow: scroll;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    margin: 0;
    margin-left: -90px;
    overflow-x: hidden;
  }

  .flex-item ol {
    font-size: 40px;
    color: blue;
  }

.ul-content {
    padding: 0;
    padding-left: 10px;
}

.ul-content li img {
    width: 100%;
}

  @media only screen and (max-width: 900px) {
    .flex-item {
        width: 90%;
        
      }
  }



.colegio ul {
    list-style-image: url('../assets/svo.png');
  }

.certs {
    padding-top: 150px;
}

  .certs ul {
    list-style-image: url('../assets/svo2.png');
  }

#hoja_de_vida {
  width: 100%;
  height: 800px;
}

.center {
  background: rgb(146,167,252);
background: linear-gradient(301deg, rgba(146,167,252,1) 0%, rgba(46,63,255,1) 19%, rgba(143,237,247,1) 44%, rgba(56,66,255,1) 68%, rgba(146,158,252,1) 100%);
}

.center:hover {
  background: rgb(71,108,255);
  background: linear-gradient(301deg, rgba(71,108,255,1) 0%, rgba(0,21,255,1) 19%, rgba(54,183,252,1) 44%, rgba(56,66,255,1) 68%, rgba(25,51,255,1) 100%);
}

.colegio:hover, .certs:hover {
  border-radius: 15px;
  background-color: #4346ff57;
}

.seccion-titulo {
  text-align: center;
  font-size: 72px;
  color: rgb(135, 61, 255);
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}