.center {
  margin: auto;
  padding: 10px;
  text-align: center;
  }

.center * {
  display: inline-block;
  margin: 0 2%;
  width: 400px;
  height: 225px;
}

  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }

  #content-spotify {
    width: 100%;
  }

  #content-spotify tr th * {
    border-radius:12px;
    width: 98%;
    height: 352;
    overflow: none;
  }

  
  .flexbox {
    display: flex;
    flex-wrap: nowrap;
}
.flexbox .box{
    width: 25%;
}
.box img {
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
iframe {
  padding: 5px 0;
  transition: 1s padding;
}

iframe:hover {
  padding: 5px;
  background-color: rgba(0, 10, 125, 0.486);
}

iframe {
  overflow: hidden;
}

.seccion-titulo {
  text-align: center;
  font-size: 72px;
  color: rgb(135, 61, 255);
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.box p {
  text-align: center;
  font-weight: 700;
}




/* force image size */
.slide img {
  width: inherit;
  height: inherit;
  margin: 0;
  padding: 0;
  border: none;
}

.slide {
  white-space: nowrap;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.slide > :first-child {
  animation-name: slide;
  animation-duration: 12s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

.slide:hover {
  border: 5px solid rgba(111, 0, 255, 0.513);
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -400%;
  }
}

.center {
  margin: auto;
}
