#bienvenida {
    margin: 0 50px;
}

.content-bienvenida {
    width: 50%;
    background: rgb(215,146,252);
background: linear-gradient(173deg, rgba(215,146,252,1) 0%, rgba(190,77,252,1) 19%, rgba(210,143,247,1) 44%, rgba(202,107,255,1) 68%, rgba(215,146,252,1) 100%);
    border: 8px solid rgb(190 76 252);
    border-radius: 25px;
    font-size: 22px;
    padding: 20px;
    margin: 0 50px;
    margin-bottom: 150px;
    text-align: justify;
    box-shadow: 7px 7px 10px rgb(78, 0, 121);
}

.content-bienvenida:hover {
    border: 8px solid rgb(88, 76, 252);
    background: rgb(162, 146, 252);
    background: linear-gradient(173deg, rgb(156, 146, 252) 0%, rgb(89, 77, 252)9%, rgb(145, 143, 247) 44%, rgb(107, 117, 255) 68%, rgb(146, 153, 252) 100%);
}

.float-right {
    margin-left: auto;
    margin-right: 0;
}

.float-left {
    margin-left: 0;
    margin-right: auto;
}

.content-bienvenida img {
    width: 300px;
    height: 300px;
    padding: 0;
    border: 2px solid #000;
    border-radius: 15px;
    margin-right: 15px;
    box-shadow: 5px 5px 10px #00000070;
}

.left-side {
    margin-right: 20px;
    float: inline-start;
    padding: 1%;
}

.right-side {
    margin-left: 20px;
    float: right;
    padding: 1%;
}

.seccion-titulo {
    text-align: center;
    font-size: 72px;
    color: rgb(135, 61, 255);
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

#fotoig {
    width: 220px;
}